# Import Relevant Libraries

In [1]:
import pandas as pd
import time
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import numpy as np
from selenium.common.exceptions import StaleElementReferenceException
from selenium.webdriver.common.keys import Keys

# Functions I will call later

In [2]:
#Drop Column
def drop_column(df, column_name):
    return df.drop(column_name, axis=1)

#Save Dataframe to csv
def export_to_csv(df, file_path):
    df.to_csv(file_path, index=False)
    print('Saved.')

#read_csv_to_dataframe function
def read_csv_to_dataframe(file_path):
    return pd.read_csv(file_path)

# Create Driver

In [4]:
driver = webdriver.Chrome(ChromeDriverManager().install())

[WDM] - Downloading: 100%|██████████| 6.30M/6.30M [00:05<00:00, 1.24MB/s]
C:\Users\thapelo maloka\AppData\Local\Temp\ipykernel_14832\1503906442.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install())

# Open the web page and intialize all the filters to get the data I want

In [5]:
# Set up the Selenium webdriver (make sure you have the appropriate driver executable)
driver = webdriver.Chrome(ChromeDriverManager().install())

# Open the webpage
page_url = "https://www.espn.com/soccer/team/squad/_/id/360/league/ENG.1/season/2022"
driver.get(page_url)
driver.maximize_window()
# Wait for the table to load (you may need to adjust the waiting time accordingly)
driver.implicitly_wait(3)

# Find the table element using the given XPath
table_element = driver.find_element(By.XPATH, "/html/body/div[1]/div/div/div/main/div[2]/div[5]/div/div/section/div/section/div[4]/div[1]/div[2]/div")

# Get the HTML content of the table
table_html = table_element.get_attribute("innerHTML")

# Use Pandas to parse the HTML and create a DataFrame
dfs = pd.read_html(table_html)
goalies_df = dfs[0]  # Assuming the table is the first and only table on the page

# Close the WebDriver
driver.quit()

# Display the Goalies DataFrame
print(goalies_df)
driver.quit()

C:\Users\thapelo maloka\AppData\Local\Temp\ipykernel_14832\4293605927.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install())

              Name POS  Age     HT       WT             NAT APP SUB  SV  GA
0    David de Gea1   G   32  6' 4"  168 lbs           Spain  38   0  80  42  \
1     Tom Heaton22   G   37  6' 2"  185 lbs         England   0   0   0   0
2  Nathan Bishop30   G   23  6' 1"  159 lbs         England   0   0   0   0
3   Jack Butland31   G   30  6' 5"  207 lbs         England   0   0   0   0
4    Radek Vítek50   G   19  6' 6"       --  Czech Republic  --  --  --  --

    A  FC  FA  YC  RC  Unnamed: 15
0   0   0   5   0   0          NaN
1   0   0   0   0   0          NaN
2   0   0   0   0   0          NaN
3   0   0   0   0   0          NaN
4  --  --  --  --  --          NaN

In [6]:
goalies_df

,Name,POS,Age,HT,WT,NAT,APP,SUB,SV,GA,A,FC,FA,YC,RC,Unnamed: 15
0,David de Gea1,G,32,"6' 4""",168 lbs,Spain,38,0,80,42,0,0,5,0,0,NaN
1,Tom Heaton22,G,37,"6' 2""",185 lbs,England,0,0,0,0,0,0,0,0,0,NaN
2,Nathan Bishop30,G,23,"6' 1""",159 lbs,England,0,0,0,0,0,0,0,0,0,NaN
3,Jack Butland31,G,30,"6' 5""",207 lbs,England,0,0,0,0,0,0,0,0,0,NaN
4,Radek Vítek50,G,19,"6' 6""",--,Czech Republic,--,--,--,--,--,--,--,--,--,NaN

In [7]:
# Set up the Selenium webdriver (make sure you have the appropriate driver executable)
driver = webdriver.Chrome(ChromeDriverManager().install())

# Open the webpage
page_url = "https://www.espn.com/soccer/team/squad/_/id/360/league/ENG.1/season/2022"
driver.get(page_url)
driver.maximize_window()
# Wait for the table to load (you may need to adjust the waiting time accordingly)
driver.implicitly_wait(3)
# Find the table element using the given XPath
table_element = driver.find_element(By.XPATH, '//*[@id="fittPageContainer"]/div[2]/div[5]/div/div/section/div/section/div[4]/div[2]/div[2]')

# Get the HTML content of the table
table_html = table_element.get_attribute("innerHTML")

# Use Pandas to parse the HTML and create a DataFrame
dfs = pd.read_html(table_html)
squad_df = dfs[0]  # Assuming the table is the first and only table on the page

# Close the WebDriver
driver.quit()

# Display the squad DataFrame
print(squad_df)

C:\Users\thapelo maloka\AppData\Local\Temp\ipykernel_14832\2946014264.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install())

                    Name POS  Age      HT       WT          NAT APP SUB   G
0       Victor Lindelöf2   D   29   6' 2"  174 lbs       Sweden  20   6   0  \
1            Phil Jones4   D   31  5' 11"  157 lbs      England  --  --  --
2         Harry Maguire5   D   30   6' 4"  196 lbs      England  16   8   0
3     Lisandro Martínez6   D   25   5' 9"  170 lbs    Argentina  27   3   1
4       Tyrell Malacia12   D   23   5' 7"  148 lbs  Netherlands  22   8   0
5       Raphaël Varane19   D   30   6' 3"  179 lbs       France  24   2   0
6          Diogo Dalot20   D   24   6' 0"  168 lbs     Portugal  26   2   1
7            Luke Shaw23   D   28   6' 1"  163 lbs      England  31   1   1
8    Aaron Wan-Bissaka29   D   25   6' 0"  159 lbs      England  19   3   0
9     Brandon Williams33   D   22   5' 7"  139 lbs      England   0   0   0
10   Marc Jurado Gomez63   D   19  5' 10"       --        Spain   0   0   0
11        Rhys Bennett66   D   19   6' 3"  161 lbs      England   0   0   0
12      Bruno Fernandes8   M   28  5' 10"  150 lbs     Portugal  37   0   8
13   Christian Eriksen14   M   31   6' 0"  168 lbs      Denmark  28   3   1
14     Marcel Sabitzer15   M   29  5' 10"  168 lbs      Austria  11   4   0
15                Fred17   M   30   5' 7"  139 lbs       Brazil  35  23   2
16            Casemiro18   M   31   6' 1"  183 lbs       Brazil  28   4   4
17   Facundo Pellistri28   M   21   5' 9"  150 lbs      Uruguay   4   4   0
18   Donny van de Beek34   M   26   6' 0"  168 lbs  Netherlands   7   5   0
19     Scott McTominay39   M   26   6' 4"  192 lbs     Scotland  24  14   1
20        Zidane Iqbal55   M   20  5' 11"  157 lbs         Iraq   0   0   0
21       Kobbie Mainoo73   M   18   5' 9"       --      England   1   1   0
22      Anthony Martial9   F   27  5' 11"  168 lbs       France  21  10   6
23     Marcus Rashford10   F   25  5' 11"  152 lbs      England  35   3  17
24              Antony21   F   23   5' 9"  139 lbs       Brazil  25   2   4
25        Jadon Sancho25   F   23  5' 11"  168 lbs      England  26   5   6
26       Wout Weghorst27   F   30   6' 6"  183 lbs  Netherlands  17   7   0
27      Anthony Elanga36   F   21  5' 10"  152 lbs       Sweden  16  11   0
28  Alejandro Garnacho49   F   19  5' 11"  174 lbs    Argentina  19  14   3

     A   SH  ST  FC  FA  YC  RC
0    0    3   0  10   4   1   0
1   --   --  --  --  --  --  --
2    0    3   0   8   4   4   0
3    0    9   1  20  10   6   0
4    0    5   1  38  14   6   0
5    0    7   4  12   3   1   0
6    2   22   8  21   3   6   0
7    3   13   3  45  27   8   0
8    0   10   2  11   1   2   0
9    0    0   0   0   0   0   0
10   0    0   0   0   0   0   0
11   0    0   0   0   0   0   0
12   8   90  28  42  40   6   0
13   8   37   8  13  10   3   0
14   1   11   3   8  10   1   0
15   2   26   5  33  22   6   0
16   3   34  11  48  24   7   2
17   0    0   0   1   2   0   0
18   0    1   0   4   2   0   0
19   0   12   5  28  17   8   0
20   0    0   0   0   0   0   0
21   0    0   0   0   0   0   0
22   2   27  13   7  13   0   0
23   5  106  44  13  23   2   0
24   2   70  24  15  25   5   0
25   3   21   9   9  10   0   0
26   1   13   4  12   9   1   0
27   1    9   3   3   7   0   0
28   2   23   9   8   8   3   0

In [8]:
squad_df

,Name,POS,Age,HT,WT,NAT,APP,SUB,G,A,SH,ST,FC,FA,YC,RC
0,Victor Lindelöf2,D,29,"6' 2""",174 lbs,Sweden,20,6,0,0,3,0,10,4,1,0
1,Phil Jones4,D,31,"5' 11""",157 lbs,England,--,--,--,--,--,--,--,--,--,--
2,Harry Maguire5,D,30,"6' 4""",196 lbs,England,16,8,0,0,3,0,8,4,4,0
3,Lisandro Martínez6,D,25,"5' 9""",170 lbs,Argentina,27,3,1,0,9,1,20,10,6,0
4,Tyrell Malacia12,D,23,"5' 7""",148 lbs,Netherlands,22,8,0,0,5,1,38,14,6,0
5,Raphaël Varane19,D,30,"6' 3""",179 lbs,France,24,2,0,0,7,4,12,3,1,0
6,Diogo Dalot20,D,24,"6' 0""",168 lbs,Portugal,26,2,1,2,22,8,21,3,6,0
7,Luke Shaw23,D,28,"6' 1""",163 lbs,England,31,1,1,3,13,3,45,27,8,0
8,Aaron Wan-Bissaka29,D,25,"6' 0""",159 lbs,England,19,3,0,0,10,2,11,1,2,0
9,Brandon Williams33,D,22,"5' 7""",139 lbs,England,0,0,0,0,0,0,0,0,0,0
10,Marc Jurado Gomez63,D,19,"5' 10""",--,Spain,0,0,0,0,0,0,0,0,0,0
11,Rhys Bennett66,D,19,"6' 3""",161 lbs,England,0,0,0,0,0,0,0,0,0,0
12,Bruno Fernandes8,M,28,"5' 10""",150 lbs,Portugal,37,0,8,8,90,28,42,40,6,0
13,Christian Eriksen14,M,31,"6' 0""",168 lbs,Denmark,28,3,1,8,37,8,13,10,3,0
14,Marcel Sabitzer15,M,29,"5' 10""",168 lbs,Austria,11,4,0,1,11,3,8,10,1,0
15,Fred17,M,30,"5' 7""",139 lbs,Brazil,35,23,2,2,26,5,33,22,6,0
16,Casemiro18,M,31,"6' 1""",183 lbs,Brazil,28,4,4,3,34,11,48,24,7,2
17,Facundo Pellistri28,M,21,"5' 9""",150 lbs,Uruguay,4,4,0,0,0,0,1,2,0,0
18,Donny van de Beek34,M,26,"6' 0""",168 lbs,Netherlands,7,5,0,0,1,0,4,2,0,0
19,Scott McTominay39,M,26,"6' 4""",192 lbs,Scotland,24,14,1,0,12,5,28,17,8,0
20,Zidane Iqbal55,M,20,"5' 11""",157 lbs,Iraq,0,0,0,0,0,0,0,0,0,0
21,Kobbie Mainoo73,M,18,"5' 9""",--,England,1,1,0,0,0,0,0,0,0,0
22,Anthony Martial9,F,27,"5' 11""",168 lbs,France,21,10,6,2,27,13,7,13,0,0
23,Marcus Rashford10,F,25,"5' 11""",152 lbs,England,35,3,17,5,106,44,13,23,2,0
24,Antony21,F,23,"5' 9""",139 lbs,Brazil,25,2,4,2,70,24,15,25,5,0
25,Jadon Sancho25,F,23,"5' 11""",168 lbs,England,26,5,6,3,21,9,9,10,0,0
26,Wout Weghorst27,F,30,"6' 6""",183 lbs,Netherlands,17,7,0,1,13,4,12,9,1,0
27,Anthony Elanga36,F,21,"5' 10""",152 lbs,Sweden,16,11,0,1,9,3,3,7,0,0
28,Alejandro Garnacho49,F,19,"5' 11""",174 lbs,Argentina,19,14,3,2,23,9,8,8,3,0

# Combine the two dataframe's into one.

In [9]:
ManUtdSquad = pd.concat([goalies_df, squad_df], axis=0)

ManUtdSquad

,Name,POS,Age,HT,WT,NAT,APP,SUB,SV,GA,A,FC,FA,YC,RC,Unnamed: 15,G,SH,ST
0,David de Gea1,G,32,"6' 4""",168 lbs,Spain,38,0,80,42,0,0,5,0,0,NaN,NaN,NaN,NaN
1,Tom Heaton22,G,37,"6' 2""",185 lbs,England,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
2,Nathan Bishop30,G,23,"6' 1""",159 lbs,England,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
3,Jack Butland31,G,30,"6' 5""",207 lbs,England,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
4,Radek Vítek50,G,19,"6' 6""",--,Czech Republic,--,--,--,--,--,--,--,--,--,NaN,NaN,NaN,NaN
0,Victor Lindelöf2,D,29,"6' 2""",174 lbs,Sweden,20,6,NaN,NaN,0,10,4,1,0,NaN,0,3,0
1,Phil Jones4,D,31,"5' 11""",157 lbs,England,--,--,NaN,NaN,--,--,--,--,--,NaN,--,--,--
2,Harry Maguire5,D,30,"6' 4""",196 lbs,England,16,8,NaN,NaN,0,8,4,4,0,NaN,0,3,0
3,Lisandro Martínez6,D,25,"5' 9""",170 lbs,Argentina,27,3,NaN,NaN,0,20,10,6,0,NaN,1,9,1
4,Tyrell Malacia12,D,23,"5' 7""",148 lbs,Netherlands,22,8,NaN,NaN,0,38,14,6,0,NaN,0,5,1
5,Raphaël Varane19,D,30,"6' 3""",179 lbs,France,24,2,NaN,NaN,0,12,3,1,0,NaN,0,7,4
6,Diogo Dalot20,D,24,"6' 0""",168 lbs,Portugal,26,2,NaN,NaN,2,21,3,6,0,NaN,1,22,8
7,Luke Shaw23,D,28,"6' 1""",163 lbs,England,31,1,NaN,NaN,3,45,27,8,0,NaN,1,13,3
8,Aaron Wan-Bissaka29,D,25,"6' 0""",159 lbs,England,19,3,NaN,NaN,0,11,1,2,0,NaN,0,10,2
9,Brandon Williams33,D,22,"5' 7""",139 lbs,England,0,0,NaN,NaN,0,0,0,0,0,NaN,0,0,0
10,Marc Jurado Gomez63,D,19,"5' 10""",--,Spain,0,0,NaN,NaN,0,0,0,0,0,NaN,0,0,0
11,Rhys Bennett66,D,19,"6' 3""",161 lbs,England,0,0,NaN,NaN,0,0,0,0,0,NaN,0,0,0
12,Bruno Fernandes8,M,28,"5' 10""",150 lbs,Portugal,37,0,NaN,NaN,8,42,40,6,0,NaN,8,90,28
13,Christian Eriksen14,M,31,"6' 0""",168 lbs,Denmark,28,3,NaN,NaN,8,13,10,3,0,NaN,1,37,8
14,Marcel Sabitzer15,M,29,"5' 10""",168 lbs,Austria,11,4,NaN,NaN,1,8,10,1,0,NaN,0,11,3
15,Fred17,M,30,"5' 7""",139 lbs,Brazil,35,23,NaN,NaN,2,33,22,6,0,NaN,2,26,5
16,Casemiro18,M,31,"6' 1""",183 lbs,Brazil,28,4,NaN,NaN,3,48,24,7,2,NaN,4,34,11
17,Facundo Pellistri28,M,21,"5' 9""",150 lbs,Uruguay,4,4,NaN,NaN,0,1,2,0,0,NaN,0,0,0
18,Donny van de Beek34,M,26,"6' 0""",168 lbs,Netherlands,7,5,NaN,NaN,0,4,2,0,0,NaN,0,1,0
19,Scott McTominay39,M,26,"6' 4""",192 lbs,Scotland,24,14,NaN,NaN,0,28,17,8,0,NaN,1,12,5
20,Zidane Iqbal55,M,20,"5' 11""",157 lbs,Iraq,0,0,NaN,NaN,0,0,0,0,0,NaN,0,0,0
21,Kobbie Mainoo73,M,18,"5' 9""",--,England,1,1,NaN,NaN,0,0,0,0,0,NaN,0,0,0
22,Anthony Martial9,F,27,"5' 11""",168 lbs,France,21,10,NaN,NaN,2,7,13,0,0,NaN,6,27,13
23,Marcus Rashford10,F,25,"5' 11""",152 lbs,England,35,3,NaN,NaN,5,13,23,2,0,NaN,17,106,44
24,Antony21,F,23,"5' 9""",139 lbs,Brazil,25,2,NaN,NaN,2,15,25,5,0,NaN,4,70,24
25,Jadon Sancho25,F,23,"5' 11""",168 lbs,England,26,5,NaN,NaN,3,9,10,0,0,NaN,6,21,9
26,Wout Weghorst27,F,30,"6' 6""",183 lbs,Netherlands,17,7,NaN,NaN,1,12,9,1,0,NaN,0,13,4
27,Anthony Elanga36,F,21,"5' 10""",152 lbs,Sweden,16,11,NaN,NaN,1,3,7,0,0,NaN,0,9,3
28,Alejandro Garnacho49,F,19,"5' 11""",174 lbs,Argentina,19,14,NaN,NaN,2,8,8,3,0,NaN,3,23,9

# Clean the squad table

In [10]:
# replace NaN with 0
ManUtdSquad.fillna(0, inplace=True)
ManUtdSquad.head()

,Name,POS,Age,HT,WT,NAT,APP,SUB,SV,GA,A,FC,FA,YC,RC,Unnamed: 15,G,SH,ST
0,David de Gea1,G,32,"6' 4""",168 lbs,Spain,38,0,80,42,0,0,5,0,0,0.0,0,0,0
1,Tom Heaton22,G,37,"6' 2""",185 lbs,England,0,0,0,0,0,0,0,0,0,0.0,0,0,0
2,Nathan Bishop30,G,23,"6' 1""",159 lbs,England,0,0,0,0,0,0,0,0,0,0.0,0,0,0
3,Jack Butland31,G,30,"6' 5""",207 lbs,England,0,0,0,0,0,0,0,0,0,0.0,0,0,0
4,Radek Vítek50,G,19,"6' 6""",--,Czech Republic,--,--,--,--,--,--,--,--,--,0.0,0,0,0

In [11]:
# drop columns not to be used
#HT WT SUB , GA, Unnamed: 15

ManUtdSquad =  ManUtdSquad.drop("Unnamed: 15", axis=1)
ManUtdSquad =  ManUtdSquad.drop("HT", axis=1)
ManUtdSquad =  ManUtdSquad.drop("WT", axis=1)
ManUtdSquad =  ManUtdSquad.drop("SUB", axis=1)
ManUtdSquad =  ManUtdSquad.drop("GA", axis=1)

ManUtdSquad.head()

,Name,POS,Age,NAT,APP,SV,A,FC,FA,YC,RC,G,SH,ST
0,David de Gea1,G,32,Spain,38,80,0,0,5,0,0,0,0,0
1,Tom Heaton22,G,37,England,0,0,0,0,0,0,0,0,0,0
2,Nathan Bishop30,G,23,England,0,0,0,0,0,0,0,0,0,0
3,Jack Butland31,G,30,England,0,0,0,0,0,0,0,0,0,0
4,Radek Vítek50,G,19,Czech Republic,--,--,--,--,--,--,--,0,0,0

## Rename the Columns

In [12]:
new = {
    'NAT': 'Nationality',
    'APP': 'Appearances',
    'SV': 'Saves',
    'A': 'Assists',
    'FC': 'Fouls Committed',
    'FA': 'Fouls Suffered',
    'YC': 'Yellow Cards',
    'RC': 'Red Cards',
    'G': 'Total Goals',
    'SH': 'Shots',
    'ST': 'Shots On Target'
}

ManUtdSquad.rename(columns=new, inplace=True)

In [13]:
#Display the 1st 5 rows 
ManUtdSquad.head(20)

,Name,POS,Age,Nationality,Appearances,Saves,Assists,Fouls Committed,Fouls Suffered,Yellow Cards,Red Cards,Total Goals,Shots,Shots On Target
0,David de Gea1,G,32,Spain,38,80,0,0,5,0,0,0,0,0
1,Tom Heaton22,G,37,England,0,0,0,0,0,0,0,0,0,0
2,Nathan Bishop30,G,23,England,0,0,0,0,0,0,0,0,0,0
3,Jack Butland31,G,30,England,0,0,0,0,0,0,0,0,0,0
4,Radek Vítek50,G,19,Czech Republic,--,--,--,--,--,--,--,0,0,0
0,Victor Lindelöf2,D,29,Sweden,20,0,0,10,4,1,0,0,3,0
1,Phil Jones4,D,31,England,--,0,--,--,--,--,--,--,--,--
2,Harry Maguire5,D,30,England,16,0,0,8,4,4,0,0,3,0
3,Lisandro Martínez6,D,25,Argentina,27,0,0,20,10,6,0,1,9,1
4,Tyrell Malacia12,D,23,Netherlands,22,0,0,38,14,6,0,0,5,1
5,Raphaël Varane19,D,30,France,24,0,0,12,3,1,0,0,7,4
6,Diogo Dalot20,D,24,Portugal,26,0,2,21,3,6,0,1,22,8
7,Luke Shaw23,D,28,England,31,0,3,45,27,8,0,1,13,3
8,Aaron Wan-Bissaka29,D,25,England,19,0,0,11,1,2,0,0,10,2
9,Brandon Williams33,D,22,England,0,0,0,0,0,0,0,0,0,0
10,Marc Jurado Gomez63,D,19,Spain,0,0,0,0,0,0,0,0,0,0
11,Rhys Bennett66,D,19,England,0,0,0,0,0,0,0,0,0,0
12,Bruno Fernandes8,M,28,Portugal,37,0,8,42,40,6,0,8,90,28
13,Christian Eriksen14,M,31,Denmark,28,0,8,13,10,3,0,1,37,8
14,Marcel Sabitzer15,M,29,Austria,11,0,1,8,10,1,0,0,11,3

In [14]:
#Replace the -- in the data frame with 0
ManUtdSquad.replace("--", 0, inplace=True)

In [15]:
#Convert the columns into intergers

columns_to_convert = ['Appearances', 'Saves', 'Assists','Fouls Committed', 'Fouls Suffered', 'Yellow Cards','Red Cards', 'Total Goals', 'Shots','Shots On Target']
ManUtdSquad[columns_to_convert] = ManUtdSquad[columns_to_convert].astype(int)

In [16]:
#View the 1st 15 rows of the data 
ManUtdSquad.head(15)

,Name,POS,Age,Nationality,Appearances,Saves,Assists,Fouls Committed,Fouls Suffered,Yellow Cards,Red Cards,Total Goals,Shots,Shots On Target
0,David de Gea1,G,32,Spain,38,80,0,0,5,0,0,0,0,0
1,Tom Heaton22,G,37,England,0,0,0,0,0,0,0,0,0,0
2,Nathan Bishop30,G,23,England,0,0,0,0,0,0,0,0,0,0
3,Jack Butland31,G,30,England,0,0,0,0,0,0,0,0,0,0
4,Radek Vítek50,G,19,Czech Republic,0,0,0,0,0,0,0,0,0,0
0,Victor Lindelöf2,D,29,Sweden,20,0,0,10,4,1,0,0,3,0
1,Phil Jones4,D,31,England,0,0,0,0,0,0,0,0,0,0
2,Harry Maguire5,D,30,England,16,0,0,8,4,4,0,0,3,0
3,Lisandro Martínez6,D,25,Argentina,27,0,0,20,10,6,0,1,9,1
4,Tyrell Malacia12,D,23,Netherlands,22,0,0,38,14,6,0,0,5,1
5,Raphaël Varane19,D,30,France,24,0,0,12,3,1,0,0,7,4
6,Diogo Dalot20,D,24,Portugal,26,0,2,21,3,6,0,1,22,8
7,Luke Shaw23,D,28,England,31,0,3,45,27,8,0,1,13,3
8,Aaron Wan-Bissaka29,D,25,England,19,0,0,11,1,2,0,0,10,2
9,Brandon Williams33,D,22,England,0,0,0,0,0,0,0,0,0,0

In [17]:
#Call the function and save the CSV File

export_to_csv(ManUtdSquad,'Data/ManUtdSquad.csv')

Saved.

In [5]:
# Instantiate the WebDriver (assuming you have already set it up)
driver = webdriver.Chrome()

# Load the page
driver.get("https://www.footballtransfers.com/en/transfer-news/uk-premier-league/2022/03/premier-league-2022-23-summer-transfers-every-signing-completed-deal")

driver.maximize_window()
# Wait for the table to load (you may need to adjust the waiting time accordingly)
driver.implicitly_wait(10)


# Find the table element using the given XPath
table_element = driver.find_element(By.XPATH, '//*[@id="content-part"]/section/div/div/div[1]/div[1]/article/div[52]/table')

# Get the HTML content of the table
table_html = table_element.get_attribute("outerHTML")

# Use Pandas to parse the HTML and create a DataFrame
dfs = pd.read_html(table_html)
players_out_df = dfs[0]  # Assuming the table is the first and only table on the page

# Close the WebDriver
driver.quit()

In [6]:
#View the dataframe
players_out_df

              Player                 To          Fee
0    Andreas Pereira             Fulham         £10m
1         Paul Pogba           Juventus         Free
2      Nemanja Matic               Roma         Free
3      Jesse Lingard  Nottingham Forest         Free
4     Edinson Cavani           Valencia         Free
5          Juan Mata           Released         Free
6       Tahith Chong         Birmingham  Undisclosed
7     Dean Henderson  Nottingham Forest         LOAN
8        Eric Bailly          Marseille         LOAN
9   Alvaro Fernandez            Preston         LOAN
10       Amad Diallo         Sunderland         LOAN
11   Hannibal Mejbri         Birmingham         LOAN
12       Alex Telles            Sevilla         LOAN
13         Lee Grant            Retired          NaN

In [11]:
#Clean up the rows
players_out_df.replace("Undisclosed", 0, inplace=True)
players_out_df.replace("Free", 0, inplace=True)
players_out_df.replace("LOAN", 0, inplace=True)
players_out_df.replace("£10m", 10000000, inplace=True)
players_out_df.fillna(0, inplace=True)

In [12]:
#View the dataframe
players_out_df

              Player                 To         Fee
0    Andreas Pereira             Fulham  10000000.0
1         Paul Pogba           Juventus         0.0
2      Nemanja Matic               Roma         0.0
3      Jesse Lingard  Nottingham Forest         0.0
4     Edinson Cavani           Valencia         0.0
5          Juan Mata           Released         0.0
6       Tahith Chong         Birmingham         0.0
7     Dean Henderson  Nottingham Forest         0.0
8        Eric Bailly          Marseille         0.0
9   Alvaro Fernandez            Preston         0.0
10       Amad Diallo         Sunderland         0.0
11   Hannibal Mejbri         Birmingham         0.0
12       Alex Telles            Sevilla         0.0
13         Lee Grant            Retired         0.0

In [23]:
#Call the function and save the CSV File
export_to_csv(players_out_df,'Data/Players Sold.csv')

In [18]:
# Instantiate the WebDriver (assuming you have already set it up)
driver = webdriver.Chrome()

# Load the page
driver.get("https://www.footballtransfers.com/en/transfer-news/uk-premier-league/2022/03/premier-league-2022-23-summer-transfers-every-signing-completed-deal")

driver.maximize_window()
# Wait for the table to load (you may need to adjust the waiting time accordingly)
driver.implicitly_wait(10)


# Find the table element using the given XPath
table_element = driver.find_element(By.XPATH, '//*[@id="content-part"]/section/div/div/div[1]/div[1]/article/div[50]/table')

# Get the HTML content of the table
table_html = table_element.get_attribute("outerHTML")

# Use Pandas to parse the HTML and create a DataFrame
dfs = pd.read_html(table_html)
players_in_df = dfs[0]  # Assuming the table is the first and only table on the page

# Close the WebDriver
driver.quit()

In [19]:
#View the dataframe
players_in_df

              Player       From     Fee
0             Antony       Ajax    £86m
1           Casemiro    Man Utd    £60m
2  Lisandro Martinez       Ajax  £51.6m
3     Tyrell Malacia  Feyenoord  £13.5m
4    Martin Dubravka  Newcastle    LOAN
5  Christian Eriksen  Brentford    Free

In [20]:
#Clean up the rows
players_in_df.replace("Free", 0, inplace=True)
players_in_df.replace("LOAN", 0, inplace=True)

players_in_df['Fee'] = players_in_df['Fee'].str.replace('£', '')
players_in_df['Fee'] = players_in_df['Fee'].str.replace('m', '')
players_in_df['Fee'] = players_in_df['Fee'].astype(float) * 1e6

In [21]:
#View the dataframe
players_in_df

              Player       From         Fee
0             Antony       Ajax  86000000.0
1           Casemiro    Man Utd  60000000.0
2  Lisandro Martinez       Ajax  51600000.0
3     Tyrell Malacia  Feyenoord  13500000.0
4    Martin Dubravka  Newcastle         NaN
5  Christian Eriksen  Brentford         NaN

In [22]:
#Replace the NaN with 0
players_in_df.fillna(0, inplace=True)

In [33]:
#Check if the NaN have been removed 
players_in_df

              Player       From         Fee
0             Antony       Ajax  86000000.0
1           Casemiro    Man Utd  60000000.0
2  Lisandro Martinez       Ajax  51600000.0
3     Tyrell Malacia  Feyenoord  13500000.0
4    Martin Dubravka  Newcastle         0.0
5  Christian Eriksen  Brentford         0.0

In [23]:
#Call the function and save the CSV File
export_to_csv(players_in_df,'Data/Players In.csv')

Saved.

In [32]:
# Instantiate the WebDriver (assuming you have already set it up)
driver = webdriver.Chrome()

# Load the page
driver.get("https://salarysport.com/football/premier-league/manchester-united-f.c./")

# Wait for the table to load (you may need to adjust the waiting time accordingly)
driver.implicitly_wait(10)

# Find the table element using the given XPath
table_element = driver.find_element(By.XPATH, '//*[@id="gatsby-focus-wrapper"]/div[2]/main/div[1]/div/div[2]/div[3]/table')

# Get the HTML content of the table
table_html = table_element.get_attribute("outerHTML")

# Use Pandas to parse the HTML and create a DataFrame
dfs = pd.read_html(table_html)
dataframe = dfs[0]  # Assuming the table is the first and only table on the page

# Close the WebDriver
driver.quit()

# Display the DataFrame
print(dataframe)

          Player Name Weekly Wage Yearly Salary   Age      Position
0        David De Gea    £375,000   £19,500,000  31.0            GK  \
1      Raphaël Varane    £350,000   £18,200,000  29.0           D C
2            Casemiro    £300,000   £15,600,000  30.0            DM
3        Jadon Sancho    £275,000   £14,300,000  22.0         AM RL
4     Bruno Fernandes    £250,000   £13,000,000  27.0          AM C
5     Anthony Martial    £250,000   £13,000,000  26.0      AM L, ST
6     Marcus Rashford    £225,000   £11,700,000  24.0      AM L, ST
7       Harry Maguire    £200,000   £10,400,000  29.0           D C
8   Christian Eriksen    £170,000    £8,840,000  30.0      DM, AM C
9         Mason Mount    £170,000    £8,840,000  23.0        AM RLC
10          Luke Shaw    £170,000    £8,840,000  27.0        D/WB L
11                NaN         NaN           NaN   NaN           NaN
12    Victor Lindelöf    £170,000    £8,840,000  27.0           D C
13             Antony    £150,000    £7,800,000  22.0    AM RC, F C
14  Donny van de Beek    £140,000    £7,280,000  25.0          AM C
15               Fred    £130,000    £6,760,000  29.0            DM
16  Lisandro Martínez    £120,000    £6,240,000  24.0      D LC, DM
17         Phil Jones    £110,000    £5,720,000  30.0           D C
18    Marcel Sabitzer    £108,000    £5,616,000  28.0            CM
19  Aaron Wan-Bissaka    £100,000    £5,200,000  24.0           D R
20    Scott McTominay     £78,000    £4,056,000  25.0       D C, DM
21         Tom Heaton     £62,000    £3,224,000  36.0            GK
22                NaN         NaN           NaN   NaN           NaN
23   Brandon Williams     £53,000    £2,756,000  21.0       D/WB RL
24      Axel Tuanzebe     £48,000    £2,496,000  24.0           D C
25     Tyrell Malacia     £47,000    £2,444,000  22.0        D/WB L
26    Martin Dúbravka     £44,000    £2,288,000  33.0            GK
27     Anthony Elanga     £43,000    £2,236,000  20.0         AM RL
28        Alex Telles     £41,000    £2,132,000  30.0            LB
29       Jack Butland     £35,000    £1,820,000  29.0            GK
30        Diogo Dalot     £32,000    £1,664,000  23.0  D/WB RL, M R
31      Wout Weghorst     £31,000    £1,612,000  30.0            CF

    Nationality  Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  Unnamed: 10
0         Spain         NaN         NaN         NaN         NaN          NaN  \
1        France         NaN         NaN         NaN         NaN          NaN
2        Brazil         NaN         NaN         NaN         NaN          NaN
3       England         NaN         NaN         NaN         NaN          NaN
4      Portugal         NaN         NaN         NaN         NaN          NaN
5        France         NaN         NaN         NaN         NaN          NaN
6       England         NaN         NaN         NaN         NaN          NaN
7       England         NaN         NaN         NaN         NaN          NaN
8       Denmark         NaN         NaN         NaN         NaN          NaN
9       England         NaN         NaN         NaN         NaN          NaN
10      England         NaN         NaN         NaN         NaN          NaN
11          NaN         NaN         NaN         NaN         NaN          NaN
12       Sweden         NaN         NaN         NaN         NaN          NaN
13       Brazil         NaN         NaN         NaN         NaN          NaN
14      Holland         NaN         NaN         NaN         NaN          NaN
15       Brazil         NaN         NaN         NaN         NaN          NaN
16    Argentina         NaN         NaN         NaN         NaN          NaN
17      England         NaN         NaN         NaN         NaN          NaN
18      Austria         NaN         NaN         NaN         NaN          NaN
19      England         NaN         NaN         NaN         NaN          NaN
20     Scotland         NaN         NaN         NaN         NaN          NaN
21      England         NaN         NaN         NaN         NaN          NaN
22          NaN         NaN         NaN         NaN         NaN          NaN
23      England         NaN         NaN         NaN         NaN          NaN
24      England         NaN         NaN         NaN         NaN          NaN
25      Holland         NaN         NaN         NaN         NaN          NaN
26     Slovakia         NaN         NaN         NaN         NaN          NaN
27       Sweden         NaN         NaN         NaN         NaN          NaN
28       Brazil         NaN         NaN         NaN         NaN          NaN
29      England         NaN         NaN         NaN         NaN          NaN
30     Portugal         NaN         NaN         NaN         NaN          NaN
31  Netherlands         NaN         NaN         NaN         NaN          NaN

    Unnamed: 11
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
5           NaN
6           NaN
7           NaN
8           NaN
9           NaN
10          NaN
11          NaN
12          NaN
13          NaN
14          NaN
15          NaN
16          NaN
17          NaN
18          NaN
19          NaN
20          NaN
21          NaN
22          NaN
23          NaN
24          NaN
25          NaN
26          NaN
27          NaN
28          NaN
29          NaN
30          NaN
31          NaN

In [46]:
#View 1st 5 rows
dataframe.head()

       Player Name Yearly Salary Nationality  Unnamed: 6  Unnamed: 7
0     David De Gea   £19,500,000       Spain         NaN         NaN
1   Raphaël Varane   £18,200,000      France         NaN         NaN
2         Casemiro   £15,600,000      Brazil         NaN         NaN
3     Jadon Sancho   £14,300,000     England         NaN         NaN
4  Bruno Fernandes   £13,000,000    Portugal         NaN         NaN

In [47]:
# drop columns not to be used

dataframe =  dataframe.drop("Unnamed: 6", axis=1)
dataframe =  dataframe.drop("Unnamed: 7", axis=1)
dataframe =  dataframe.drop("Unnamed: 8", axis=1)
dataframe =  dataframe.drop("Unnamed: 9", axis=1)
dataframe =  dataframe.drop("Unnamed: 10", axis=1)
dataframe =  dataframe.drop("Unnamed: 11", axis=1)
dataframe =  dataframe.drop("Position", axis=1)
dataframe =  dataframe.drop("Age", axis=1)
dataframe =  dataframe.drop("Weekly Wage", axis=1)

In [48]:
#View 1st 5 rows
dataframe.head()

       Player Name Yearly Salary Nationality
0     David De Gea   £19,500,000       Spain
1   Raphaël Varane   £18,200,000      France
2         Casemiro   £15,600,000      Brazil
3     Jadon Sancho   £14,300,000     England
4  Bruno Fernandes   £13,000,000    Portugal

In [49]:
#Drop all NaN 
Salary = dataframe
Salary

          Player Name Yearly Salary  Nationality
0        David De Gea   £19,500,000        Spain
1      Raphaël Varane   £18,200,000       France
2            Casemiro   £15,600,000       Brazil
3        Jadon Sancho   £14,300,000      England
4     Bruno Fernandes   £13,000,000     Portugal
5     Anthony Martial   £13,000,000       France
6     Marcus Rashford   £11,700,000      England
7       Harry Maguire   £10,400,000      England
8   Christian Eriksen    £8,840,000      Denmark
9         Mason Mount    £8,840,000      England
10          Luke Shaw    £8,840,000      England
11                NaN           NaN          NaN
12    Victor Lindelöf    £8,840,000       Sweden
13             Antony    £7,800,000       Brazil
14  Donny van de Beek    £7,280,000      Holland
15               Fred    £6,760,000       Brazil
16  Lisandro Martínez    £6,240,000    Argentina
17         Phil Jones    £5,720,000      England
18    Marcel Sabitzer    £5,616,000      Austria
19  Aaron Wan-Bissaka    £5,200,000      England
20    Scott McTominay    £4,056,000     Scotland
21         Tom Heaton    £3,224,000      England
22                NaN           NaN          NaN
23   Brandon Williams    £2,756,000      England
24      Axel Tuanzebe    £2,496,000      England
25     Tyrell Malacia    £2,444,000      Holland
26    Martin Dúbravka    £2,288,000     Slovakia
27     Anthony Elanga    £2,236,000       Sweden
28        Alex Telles    £2,132,000       Brazil
29       Jack Butland    £1,820,000      England
30        Diogo Dalot    £1,664,000     Portugal
31      Wout Weghorst    £1,612,000  Netherlands

In [50]:
#Remove the Currency sign
Salary['Yearly Salary'] = Salary['Yearly Salary'].str.replace('£', '')

In [52]:
#Drop the NaN
Salary.dropna()

          Player Name Yearly Salary  Nationality
0        David De Gea    19,500,000        Spain
1      Raphaël Varane    18,200,000       France
2            Casemiro    15,600,000       Brazil
3        Jadon Sancho    14,300,000      England
4     Bruno Fernandes    13,000,000     Portugal
5     Anthony Martial    13,000,000       France
6     Marcus Rashford    11,700,000      England
7       Harry Maguire    10,400,000      England
8   Christian Eriksen     8,840,000      Denmark
9         Mason Mount     8,840,000      England
10          Luke Shaw     8,840,000      England
12    Victor Lindelöf     8,840,000       Sweden
13             Antony     7,800,000       Brazil
14  Donny van de Beek     7,280,000      Holland
15               Fred     6,760,000       Brazil
16  Lisandro Martínez     6,240,000    Argentina
17         Phil Jones     5,720,000      England
18    Marcel Sabitzer     5,616,000      Austria
19  Aaron Wan-Bissaka     5,200,000      England
20    Scott McTominay     4,056,000     Scotland
21         Tom Heaton     3,224,000      England
23   Brandon Williams     2,756,000      England
24      Axel Tuanzebe     2,496,000      England
25     Tyrell Malacia     2,444,000      Holland
26    Martin Dúbravka     2,288,000     Slovakia
27     Anthony Elanga     2,236,000       Sweden
28        Alex Telles     2,132,000       Brazil
29       Jack Butland     1,820,000      England
30        Diogo Dalot     1,664,000     Portugal
31      Wout Weghorst     1,612,000  Netherlands

In [53]:
#Call the function and save the CSV File
export_to_csv(Salary,'Data/ManUtd Salary.csv')

Saved.

# Collect Game results

In [57]:
driver = webdriver.Chrome(ChromeDriverManager().install())
#Opent the web page
page_url = "https://www.premierleague.com/results"
driver.get(page_url)
driver.maximize_window()

#Accept Cookies and close the advert
driver.find_element(By.ID, 'onetrust-accept-btn-handler').click()
driver.find_element(By.ID, 'advertClose').click()


# Wait for 10 seconds
time.sleep(1)

# Find the dropdown element for season
dropdown_season = driver.find_element(By.XPATH, '//div[@data-dropdown-current="compSeasons"]')

# Click on the dropdown to expand it
dropdown_season.click()

# Find the option element using XPath
option_season = driver.find_element(By.XPATH, '//*[@id="mainContent"]/div[3]/div[1]/section/div[3]/div[3]/ul/li[2]')

# Click on the option
option_season.click()

# Wait for 10 seconds
time.sleep(1)

# Find the dropdown element for club
dropdown_club = driver.find_element(By.XPATH, '//*[@id="mainContent"]/div[3]/div[1]/section/div[4]/div[2]')

# Click on the dropdown to expand it
dropdown_club.click()

# Find the option element using XPath
option_club = driver.find_element(By.XPATH, '//*[@id="mainContent"]/div[3]/div[1]/section/div[4]/div[3]/ul/li[15]')

# Click on the option
option_club.click()

time.sleep(1)

# Scroll down to the bottom of the page
driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
time.sleep(5)  # Wait for the page to load
# Find the section with class "fixtures"
section = driver.find_element(By.CLASS_NAME, 'fixtures')

# Find all the list items within the section
list_items = section.find_elements(By.CLASS_NAME, 'match-fixture')

# Create an empty DataFrame to store the data
data2 = []
columns = ['Home Team', 'Away Team', 'Competition', 'Venue', 'Score']

# Iterate over the list items and extract the desired data
for item in list_items:
    home_team = item.get_attribute('data-home')
    away_team = item.get_attribute('data-away')
    competition = item.get_attribute('data-competition')
    venue = item.get_attribute('data-venue')
    score = item.find_element(By.CLASS_NAME, 'match-fixture__score').text.strip()

    # Append the data to the list
    data2.append([home_team, away_team, competition, venue, score])

# Create the DataFrame
PremierLeague  = pd.DataFrame(data2, columns=columns)


# Close the browser
driver.quit()

C:\Users\thapelo maloka\AppData\Local\Temp\ipykernel_14832\1620824277.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install())

In [58]:
# Print the DataFrame
PremierLeague

,Home Team,Away Team,Competition,Venue,Score
0,Man Utd,Fulham,Premier League,"Old Trafford, Manchester",2\n-\n1
1,Man Utd,Chelsea,Premier League,"Old Trafford, Manchester",4\n-\n1
2,Bournemouth,Man Utd,Premier League,"Vitality Stadium, Bournemouth",0\n-\n1
3,Man Utd,Wolves,Premier League,"Old Trafford, Manchester",2\n-\n0
4,West Ham,Man Utd,Premier League,"London Stadium, London",1\n-\n0
5,Brighton,Man Utd,Premier League,"Amex Stadium, Falmer",1\n-\n0
6,Man Utd,Aston Villa,Premier League,"Old Trafford, Manchester",1\n-\n0
7,Spurs,Man Utd,Premier League,"Tottenham Hotspur Stadium, London",2\n-\n2
8,Nott'm Forest,Man Utd,Premier League,"The City Ground, Nottingham",0\n-\n2
9,Man Utd,Everton,Premier League,"Old Trafford, Manchester",2\n-\n0
10,Man Utd,Brentford,Premier League,"Old Trafford, Manchester",1\n-\n0
11,Newcastle,Man Utd,Premier League,"St. James' Park, Newcastle",2\n-\n0
12,Man Utd,Southampton,Premier League,"Old Trafford, Manchester",0\n-\n0
13,Liverpool,Man Utd,Premier League,"Anfield, Liverpool",7\n-\n0
14,Man Utd,Leicester,Premier League,"Old Trafford, Manchester",3\n-\n0
15,Leeds,Man Utd,Premier League,"Elland Road, Leeds",0\n-\n2
16,Man Utd,Leeds,Premier League,"Old Trafford, Manchester",2\n-\n2
17,Man Utd,Crystal Palace,Premier League,"Old Trafford, Manchester",2\n-\n1
18,Arsenal,Man Utd,Premier League,"Emirates Stadium, London",3\n-\n2
19,Crystal Palace,Man Utd,Premier League,"Selhurst Park, London",1\n-\n1
20,Man Utd,Man City,Premier League,"Old Trafford, Manchester",2\n-\n1
21,Man Utd,Bournemouth,Premier League,"Old Trafford, Manchester",3\n-\n0
22,Wolves,Man Utd,Premier League,"Molineux Stadium, Wolverhampton",0\n-\n1
23,Man Utd,Nott'm Forest,Premier League,"Old Trafford, Manchester",3\n-\n0
24,Fulham,Man Utd,Premier League,"Craven Cottage, London",1\n-\n2
25,Aston Villa,Man Utd,Premier League,"Villa Park, Birmingham",3\n-\n1
26,Man Utd,West Ham,Premier League,"Old Trafford, Manchester",1\n-\n0
27,Chelsea,Man Utd,Premier League,"Stamford Bridge, London",1\n-\n1
28,Man Utd,Spurs,Premier League,"Old Trafford, Manchester",2\n-\n0
29,Man Utd,Newcastle,Premier League,"Old Trafford, Manchester",0\n-\n0
30,Everton,Man Utd,Premier League,"Goodison Park, Liverpool",1\n-\n2
31,Man City,Man Utd,Premier League,"Etihad Stadium, Manchester",6\n-\n3
32,Man Utd,Arsenal,Premier League,"Old Trafford, Manchester",3\n-\n1
33,Leicester,Man Utd,Premier League,"King Power Stadium, Leicester",0\n-\n1
34,Southampton,Man Utd,Premier League,"St. Mary's Stadium, Southampton",0\n-\n1
35,Man Utd,Liverpool,Premier League,"Old Trafford, Manchester",2\n-\n1
36,Brentford,Man Utd,Premier League,"Gtech Community Stadium, Brentford",4\n-\n0
37,Man Utd,Brighton,Premier League,"Old Trafford, Manchester",1\n-\n2

In [59]:
# Extracting the home and away scores
PremierLeague['Home'] = PremierLeague['Score'].str.split('\n-\n').str[0]
PremierLeague['Away'] = PremierLeague['Score'].str.split('\n-\n').str[1]

In [60]:
PremierLeague.drop('Score', axis=1)

,Home Team,Away Team,Competition,Venue,Home,Away
0,Man Utd,Fulham,Premier League,"Old Trafford, Manchester",2,1
1,Man Utd,Chelsea,Premier League,"Old Trafford, Manchester",4,1
2,Bournemouth,Man Utd,Premier League,"Vitality Stadium, Bournemouth",0,1
3,Man Utd,Wolves,Premier League,"Old Trafford, Manchester",2,0
4,West Ham,Man Utd,Premier League,"London Stadium, London",1,0
5,Brighton,Man Utd,Premier League,"Amex Stadium, Falmer",1,0
6,Man Utd,Aston Villa,Premier League,"Old Trafford, Manchester",1,0
7,Spurs,Man Utd,Premier League,"Tottenham Hotspur Stadium, London",2,2
8,Nott'm Forest,Man Utd,Premier League,"The City Ground, Nottingham",0,2
9,Man Utd,Everton,Premier League,"Old Trafford, Manchester",2,0
10,Man Utd,Brentford,Premier League,"Old Trafford, Manchester",1,0
11,Newcastle,Man Utd,Premier League,"St. James' Park, Newcastle",2,0
12,Man Utd,Southampton,Premier League,"Old Trafford, Manchester",0,0
13,Liverpool,Man Utd,Premier League,"Anfield, Liverpool",7,0
14,Man Utd,Leicester,Premier League,"Old Trafford, Manchester",3,0
15,Leeds,Man Utd,Premier League,"Elland Road, Leeds",0,2
16,Man Utd,Leeds,Premier League,"Old Trafford, Manchester",2,2
17,Man Utd,Crystal Palace,Premier League,"Old Trafford, Manchester",2,1
18,Arsenal,Man Utd,Premier League,"Emirates Stadium, London",3,2
19,Crystal Palace,Man Utd,Premier League,"Selhurst Park, London",1,1
20,Man Utd,Man City,Premier League,"Old Trafford, Manchester",2,1
21,Man Utd,Bournemouth,Premier League,"Old Trafford, Manchester",3,0
22,Wolves,Man Utd,Premier League,"Molineux Stadium, Wolverhampton",0,1
23,Man Utd,Nott'm Forest,Premier League,"Old Trafford, Manchester",3,0
24,Fulham,Man Utd,Premier League,"Craven Cottage, London",1,2
25,Aston Villa,Man Utd,Premier League,"Villa Park, Birmingham",3,1
26,Man Utd,West Ham,Premier League,"Old Trafford, Manchester",1,0
27,Chelsea,Man Utd,Premier League,"Stamford Bridge, London",1,1
28,Man Utd,Spurs,Premier League,"Old Trafford, Manchester",2,0
29,Man Utd,Newcastle,Premier League,"Old Trafford, Manchester",0,0
30,Everton,Man Utd,Premier League,"Goodison Park, Liverpool",1,2
31,Man City,Man Utd,Premier League,"Etihad Stadium, Manchester",6,3
32,Man Utd,Arsenal,Premier League,"Old Trafford, Manchester",3,1
33,Leicester,Man Utd,Premier League,"King Power Stadium, Leicester",0,1
34,Southampton,Man Utd,Premier League,"St. Mary's Stadium, Southampton",0,1
35,Man Utd,Liverpool,Premier League,"Old Trafford, Manchester",2,1
36,Brentford,Man Utd,Premier League,"Gtech Community Stadium, Brentford",4,0
37,Man Utd,Brighton,Premier League,"Old Trafford, Manchester",1,2

In [62]:
#Call the function and save the CSV File
export_to_csv(PremierLeague,'Data/LeagueGames.csv')

Saved.

In [111]:
PremierLeague = pd.read_csv('Data\LeagueGames.csv')
PremierLeague

,Home Team,Away Team,Competition,Venue,Home,Away
0,Man Utd,Fulham,Premier League,"Old Trafford, Manchester",2,1
1,Man Utd,Chelsea,Premier League,"Old Trafford, Manchester",4,1
2,Bournemouth,Man Utd,Premier League,"Vitality Stadium, Bournemouth",0,1
3,Man Utd,Wolves,Premier League,"Old Trafford, Manchester",2,0
4,West Ham,Man Utd,Premier League,"London Stadium, London",1,0
5,Brighton,Man Utd,Premier League,"Amex Stadium, Falmer",1,0
6,Man Utd,Aston Villa,Premier League,"Old Trafford, Manchester",1,0
7,Spurs,Man Utd,Premier League,"Tottenham Hotspur Stadium, London",2,2
8,Nott'm Forest,Man Utd,Premier League,"The City Ground, Nottingham",0,2
9,Man Utd,Everton,Premier League,"Old Trafford, Manchester",2,0
10,Man Utd,Brentford,Premier League,"Old Trafford, Manchester",1,0
11,Newcastle,Man Utd,Premier League,"St. James' Park, Newcastle",2,0
12,Man Utd,Southampton,Premier League,"Old Trafford, Manchester",0,0
13,Liverpool,Man Utd,Premier League,"Anfield, Liverpool",7,0
14,Man Utd,Leicester,Premier League,"Old Trafford, Manchester",3,0
15,Leeds,Man Utd,Premier League,"Elland Road, Leeds",0,2
16,Man Utd,Leeds,Premier League,"Old Trafford, Manchester",2,2
17,Man Utd,Crystal Palace,Premier League,"Old Trafford, Manchester",2,1
18,Arsenal,Man Utd,Premier League,"Emirates Stadium, London",3,2
19,Crystal Palace,Man Utd,Premier League,"Selhurst Park, London",1,1
20,Man Utd,Man City,Premier League,"Old Trafford, Manchester",2,1
21,Man Utd,Bournemouth,Premier League,"Old Trafford, Manchester",3,0
22,Wolves,Man Utd,Premier League,"Molineux Stadium, Wolverhampton",0,1
23,Man Utd,Nott'm Forest,Premier League,"Old Trafford, Manchester",3,0
24,Fulham,Man Utd,Premier League,"Craven Cottage, London",1,2
25,Aston Villa,Man Utd,Premier League,"Villa Park, Birmingham",3,1
26,Man Utd,West Ham,Premier League,"Old Trafford, Manchester",1,0
27,Chelsea,Man Utd,Premier League,"Stamford Bridge, London",1,1
28,Man Utd,Spurs,Premier League,"Old Trafford, Manchester",2,0
29,Man Utd,Newcastle,Premier League,"Old Trafford, Manchester",0,0
30,Everton,Man Utd,Premier League,"Goodison Park, Liverpool",1,2
31,Man City,Man Utd,Premier League,"Etihad Stadium, Manchester",6,3
32,Man Utd,Arsenal,Premier League,"Old Trafford, Manchester",3,1
33,Leicester,Man Utd,Premier League,"King Power Stadium, Leicester",0,1
34,Southampton,Man Utd,Premier League,"St. Mary's Stadium, Southampton",0,1
35,Man Utd,Liverpool,Premier League,"Old Trafford, Manchester",2,1
36,Brentford,Man Utd,Premier League,"Gtech Community Stadium, Brentford",4,0
37,Man Utd,Brighton,Premier League,"Old Trafford, Manchester",1,2

In [112]:
PremierLeague.dtypes

Home Team      object
Away Team      object
Competition    object
Venue          object
Home            int64
Away            int64
dtype: object

## Cup Marches

In [38]:
driver = webdriver.Chrome(ChromeDriverManager().install())
#Opent the web page
page_url2 = "https://www.premierleague.com/clubs/12/Manchester-United/results?co=-1&se=578"
driver.get(page_url2)

#Accept Cookies and close the advert
driver.find_element(By.ID, 'onetrust-accept-btn-handler').click()
driver.find_element(By.ID, 'advertClose').click()

time.sleep(5)
# Find the section with class "fixtures"
section = driver.find_element(By.CLASS_NAME, 'fixtures')

# Find all the list items within the section
list_items = section.find_elements(By.CLASS_NAME, 'match-fixture')

# Create an empty DataFrame to store the data
data = []
columns = ['Home Team', 'Away Team', 'Competition', 'Venue', 'Score']

# Iterate over the list items and extract the desired data
for item in list_items:
    home_team = item.get_attribute('data-home')
    away_team = item.get_attribute('data-away')
    competition = item.get_attribute('data-competition')
    venue = item.get_attribute('data-venue')
    score = item.find_element(By.CLASS_NAME, 'match-fixture__score').text.strip()

    # Append the data to the list
    data.append([home_team, away_team, competition, venue, score])

# Create the DataFrame
AllComp = pd.DataFrame(data, columns=columns)


# Close the browser
driver.quit()

# Print the DataFrame
AllComp

C:\Users\thapelo maloka\AppData\Local\Temp\ipykernel_16328\3936411654.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install())

,Home Team,Away Team,Competition,Venue,Score
0,Man City,Man Utd,FA Cup,"Wembley Stadium, London",2\n-\n1
1,Brighton,Man Utd,FA Cup,"Wembley Stadium, London",0\n-\n0
2,Sevilla,Man Utd,UEFA Europa League,"Ramón Sánchez-Pizjuán, Sevilla",3\n-\n0
3,Man Utd,Sevilla,UEFA Europa League,"Old Trafford, Manchester",2\n-\n2
4,Man Utd,Fulham,FA Cup,"Old Trafford, Manchester",3\n-\n1
5,Betis,Man Utd,UEFA Europa League,"Benito Villamarín, Sevilla",0\n-\n1
6,Man Utd,Betis,UEFA Europa League,"Old Trafford, Manchester",4\n-\n1
7,Man Utd,West Ham,FA Cup,"Old Trafford, Manchester",3\n-\n1
8,Man Utd,Barcelona,UEFA Europa League,"Old Trafford, Manchester",2\n-\n1
9,Barcelona,Man Utd,UEFA Europa League,"Spotify Camp Nou, Barcelona",2\n-\n2
10,Man Utd,Reading,FA Cup,"Old Trafford, Manchester",3\n-\n1
11,Man Utd,Everton,FA Cup,"Old Trafford, Manchester",3\n-\n1
12,Real Sociedad,Man Utd,UEFA Europa League,"Reale Arena, San Sebastián",0\n-\n1
13,Man Utd,Sheriff Tiraspol,UEFA Europa League,"Old Trafford, Manchester",3\n-\n0
14,Man Utd,Omonia Nicosia,UEFA Europa League,"Old Trafford, Manchester",1\n-\n0
15,Omonia Nicosia,Man Utd,UEFA Europa League,"GSP Stadium, Nicosia",2\n-\n3
16,Sheriff Tiraspol,Man Utd,UEFA Europa League,"Stadionul Zimbru, Chisinau",0\n-\n2
17,Man Utd,Real Sociedad,UEFA Europa League,"Old Trafford, Manchester",0\n-\n1

In [42]:
# Extracting the home and away scores
AllComp['Home'] = AllComp['Score'].str.split('\n-\n').str[0]
AllComp['Away'] = AllComp['Score'].str.split('\n-\n').str[1]


 

# Drop the "Score" column
drop_column(AllComp,'Score')

,Home Team,Away Team,Competition,Venue,Home,Away
0,Man City,Man Utd,FA Cup,"Wembley Stadium, London",2,1
1,Brighton,Man Utd,FA Cup,"Wembley Stadium, London",0,0
2,Sevilla,Man Utd,UEFA Europa League,"Ramón Sánchez-Pizjuán, Sevilla",3,0
3,Man Utd,Sevilla,UEFA Europa League,"Old Trafford, Manchester",2,2
4,Man Utd,Fulham,FA Cup,"Old Trafford, Manchester",3,1
5,Betis,Man Utd,UEFA Europa League,"Benito Villamarín, Sevilla",0,1
6,Man Utd,Betis,UEFA Europa League,"Old Trafford, Manchester",4,1
7,Man Utd,West Ham,FA Cup,"Old Trafford, Manchester",3,1
8,Man Utd,Barcelona,UEFA Europa League,"Old Trafford, Manchester",2,1
9,Barcelona,Man Utd,UEFA Europa League,"Spotify Camp Nou, Barcelona",2,2
10,Man Utd,Reading,FA Cup,"Old Trafford, Manchester",3,1
11,Man Utd,Everton,FA Cup,"Old Trafford, Manchester",3,1
12,Real Sociedad,Man Utd,UEFA Europa League,"Reale Arena, San Sebastián",0,1
13,Man Utd,Sheriff Tiraspol,UEFA Europa League,"Old Trafford, Manchester",3,0
14,Man Utd,Omonia Nicosia,UEFA Europa League,"Old Trafford, Manchester",1,0
15,Omonia Nicosia,Man Utd,UEFA Europa League,"GSP Stadium, Nicosia",2,3
16,Sheriff Tiraspol,Man Utd,UEFA Europa League,"Stadionul Zimbru, Chisinau",0,2
17,Man Utd,Real Sociedad,UEFA Europa League,"Old Trafford, Manchester",0,1

In [47]:
# Call the export_to_csv function
export_to_csv(AllComp,'Data/Cup Games.csv')

Saved.

# Combine the 2 tables into one table

In [127]:
League = read_csv_to_dataframe('Data\LeagueGames.csv')
Cup = read_csv_to_dataframe('Data\Cup Games.csv')
League

,Home Team,Away Team,Competition,Venue,Home,Away
0,Man Utd,Fulham,Premier League,"Old Trafford, Manchester",2,1
1,Man Utd,Chelsea,Premier League,"Old Trafford, Manchester",4,1
2,Bournemouth,Man Utd,Premier League,"Vitality Stadium, Bournemouth",0,1
3,Man Utd,Wolves,Premier League,"Old Trafford, Manchester",2,0
4,West Ham,Man Utd,Premier League,"London Stadium, London",1,0
5,Brighton,Man Utd,Premier League,"Amex Stadium, Falmer",1,0
6,Man Utd,Aston Villa,Premier League,"Old Trafford, Manchester",1,0
7,Spurs,Man Utd,Premier League,"Tottenham Hotspur Stadium, London",2,2
8,Nott'm Forest,Man Utd,Premier League,"The City Ground, Nottingham",0,2
9,Man Utd,Everton,Premier League,"Old Trafford, Manchester",2,0
10,Man Utd,Brentford,Premier League,"Old Trafford, Manchester",1,0
11,Newcastle,Man Utd,Premier League,"St. James' Park, Newcastle",2,0
12,Man Utd,Southampton,Premier League,"Old Trafford, Manchester",0,0
13,Liverpool,Man Utd,Premier League,"Anfield, Liverpool",7,0
14,Man Utd,Leicester,Premier League,"Old Trafford, Manchester",3,0
15,Leeds,Man Utd,Premier League,"Elland Road, Leeds",0,2
16,Man Utd,Leeds,Premier League,"Old Trafford, Manchester",2,2
17,Man Utd,Crystal Palace,Premier League,"Old Trafford, Manchester",2,1
18,Arsenal,Man Utd,Premier League,"Emirates Stadium, London",3,2
19,Crystal Palace,Man Utd,Premier League,"Selhurst Park, London",1,1
20,Man Utd,Man City,Premier League,"Old Trafford, Manchester",2,1
21,Man Utd,Bournemouth,Premier League,"Old Trafford, Manchester",3,0
22,Wolves,Man Utd,Premier League,"Molineux Stadium, Wolverhampton",0,1
23,Man Utd,Nott'm Forest,Premier League,"Old Trafford, Manchester",3,0
24,Fulham,Man Utd,Premier League,"Craven Cottage, London",1,2
25,Aston Villa,Man Utd,Premier League,"Villa Park, Birmingham",3,1
26,Man Utd,West Ham,Premier League,"Old Trafford, Manchester",1,0
27,Chelsea,Man Utd,Premier League,"Stamford Bridge, London",1,1
28,Man Utd,Spurs,Premier League,"Old Trafford, Manchester",2,0
29,Man Utd,Newcastle,Premier League,"Old Trafford, Manchester",0,0
30,Everton,Man Utd,Premier League,"Goodison Park, Liverpool",1,2
31,Man City,Man Utd,Premier League,"Etihad Stadium, Manchester",6,3
32,Man Utd,Arsenal,Premier League,"Old Trafford, Manchester",3,1
33,Leicester,Man Utd,Premier League,"King Power Stadium, Leicester",0,1
34,Southampton,Man Utd,Premier League,"St. Mary's Stadium, Southampton",0,1
35,Man Utd,Liverpool,Premier League,"Old Trafford, Manchester",2,1
36,Brentford,Man Utd,Premier League,"Gtech Community Stadium, Brentford",4,0
37,Man Utd,Brighton,Premier League,"Old Trafford, Manchester",1,2

In [128]:
# Concatenate Cup and League
Allgames = pd.concat([League,Cup])
Allgames = drop_column(Allgames,'Score')
Allgames.head()

,Home Team,Away Team,Competition,Venue,Home,Away
0,Man Utd,Fulham,Premier League,"Old Trafford, Manchester",2,1
1,Man Utd,Chelsea,Premier League,"Old Trafford, Manchester",4,1
2,Bournemouth,Man Utd,Premier League,"Vitality Stadium, Bournemouth",0,1
3,Man Utd,Wolves,Premier League,"Old Trafford, Manchester",2,0
4,West Ham,Man Utd,Premier League,"London Stadium, London",1,0

# Number of Games Won, Lost and Drawn.

In [129]:
def calculate_result(row):
    if row['Home Team'] == 'Man Utd':
        if row['Home'] > row['Away']:
            return 'W'
        elif row['Home'] < row['Away']:
            return 'L'
        else:
            return 'D'
    elif row['Away Team'] == 'Man Utd':
        if row['Away'] > row['Home']:
            return 'W'
        elif row['Away'] < row['Home']:
            return 'L'
        else:
            return 'D'
    else:
        return 'D'  # For all other cases where Man Utd is not involved, consider it as a draw

Allgames['Win/Loss/Draw'] = Allgames.apply(calculate_result, axis=1)

In [130]:
# Restore the index to its default index
Allgames = Allgames.reset_index(drop=True)

In [131]:
Allgames

,Home Team,Away Team,Competition,Venue,Home,Away,Win/Loss/Draw
0,Man Utd,Fulham,Premier League,"Old Trafford, Manchester",2,1,W
1,Man Utd,Chelsea,Premier League,"Old Trafford, Manchester",4,1,W
2,Bournemouth,Man Utd,Premier League,"Vitality Stadium, Bournemouth",0,1,W
3,Man Utd,Wolves,Premier League,"Old Trafford, Manchester",2,0,W
4,West Ham,Man Utd,Premier League,"London Stadium, London",1,0,L
5,Brighton,Man Utd,Premier League,"Amex Stadium, Falmer",1,0,L
6,Man Utd,Aston Villa,Premier League,"Old Trafford, Manchester",1,0,W
7,Spurs,Man Utd,Premier League,"Tottenham Hotspur Stadium, London",2,2,D
8,Nott'm Forest,Man Utd,Premier League,"The City Ground, Nottingham",0,2,W
9,Man Utd,Everton,Premier League,"Old Trafford, Manchester",2,0,W
10,Man Utd,Brentford,Premier League,"Old Trafford, Manchester",1,0,W
11,Newcastle,Man Utd,Premier League,"St. James' Park, Newcastle",2,0,L
12,Man Utd,Southampton,Premier League,"Old Trafford, Manchester",0,0,D
13,Liverpool,Man Utd,Premier League,"Anfield, Liverpool",7,0,L
14,Man Utd,Leicester,Premier League,"Old Trafford, Manchester",3,0,W
15,Leeds,Man Utd,Premier League,"Elland Road, Leeds",0,2,W
16,Man Utd,Leeds,Premier League,"Old Trafford, Manchester",2,2,D
17,Man Utd,Crystal Palace,Premier League,"Old Trafford, Manchester",2,1,W
18,Arsenal,Man Utd,Premier League,"Emirates Stadium, London",3,2,L
19,Crystal Palace,Man Utd,Premier League,"Selhurst Park, London",1,1,D
20,Man Utd,Man City,Premier League,"Old Trafford, Manchester",2,1,W
21,Man Utd,Bournemouth,Premier League,"Old Trafford, Manchester",3,0,W
22,Wolves,Man Utd,Premier League,"Molineux Stadium, Wolverhampton",0,1,W
23,Man Utd,Nott'm Forest,Premier League,"Old Trafford, Manchester",3,0,W
24,Fulham,Man Utd,Premier League,"Craven Cottage, London",1,2,W
25,Aston Villa,Man Utd,Premier League,"Villa Park, Birmingham",3,1,L
26,Man Utd,West Ham,Premier League,"Old Trafford, Manchester",1,0,W
27,Chelsea,Man Utd,Premier League,"Stamford Bridge, London",1,1,D
28,Man Utd,Spurs,Premier League,"Old Trafford, Manchester",2,0,W
29,Man Utd,Newcastle,Premier League,"Old Trafford, Manchester",0,0,D
30,Everton,Man Utd,Premier League,"Goodison Park, Liverpool",1,2,W
31,Man City,Man Utd,Premier League,"Etihad Stadium, Manchester",6,3,L
32,Man Utd,Arsenal,Premier League,"Old Trafford, Manchester",3,1,W
33,Leicester,Man Utd,Premier League,"King Power Stadium, Leicester",0,1,W
34,Southampton,Man Utd,Premier League,"St. Mary's Stadium, Southampton",0,1,W
35,Man Utd,Liverpool,Premier League,"Old Trafford, Manchester",2,1,W
36,Brentford,Man Utd,Premier League,"Gtech Community Stadium, Brentford",4,0,L
37,Man Utd,Brighton,Premier League,"Old Trafford, Manchester",1,2,L
38,Man City,Man Utd,FA Cup,"Wembley Stadium, London",2,1,L
39,Brighton,Man Utd,FA Cup,"Wembley Stadium, London",0,0,D
40,Sevilla,Man Utd,UEFA Europa League,"Ramón Sánchez-Pizjuán, Sevilla",3,0,L
41,Man Utd,Sevilla,UEFA Europa League,"Old Trafford, Manchester",2,2,D
42,Man Utd,Fulham,FA Cup,"Old Trafford, Manchester",3,1,W
43,Betis,Man Utd,UEFA Europa League,"Benito Villamarín, Sevilla",0,1,W
44,Man Utd,Betis,UEFA Europa League,"Old Trafford, Manchester",4,1,W
45,Man Utd,West Ham,FA Cup,"Old Trafford, Manchester",3,1,W
46,Man Utd,Barcelona,UEFA Europa League,"Old Trafford, Manchester",2,1,W
47,Barcelona,Man Utd,UEFA Europa League,"Spotify Camp Nou, Barcelona",2,2,D
48,Man Utd,Reading,FA Cup,"Old Trafford, Manchester",3,1,W
49,Man Utd,Everton,FA Cup,"Old Trafford, Manchester",3,1,W
50,Real Sociedad,Man Utd,UEFA Europa League,"Reale Arena, San Sebastián",0,1,W
51,Man Utd,Sheriff Tiraspol,UEFA Europa League,"Old Trafford, Manchester",3,0,W
52,Man Utd,Omonia Nicosia,UEFA Europa League,"Old Trafford, Manchester",1,0,W
53,Omonia Nicosia,Man Utd,UEFA Europa League,"GSP Stadium, Nicosia",2,3,W
54,Sheriff Tiraspol,Man Utd,UEFA Europa League,"Stadionul Zimbru, Chisinau",0,2,W
55,Man Utd,Real Sociedad,UEFA Europa League,"Old Trafford, Manchester",0,1,L

In [132]:
# Savee the new Data frame
export_to_csv(Allgames,'Data/Allgames.csv')

Saved.

In [66]:
driver = webdriver.Chrome(ChromeDriverManager().install())
#Opent the web page
page_url = "https://www.premierleague.com/clubs/12/Manchester-United/season-history"
driver.get(page_url)

# Maximize the window
driver.maximize_window()

#Accept Cookies and close the advert
driver.find_element(By.ID, 'onetrust-accept-btn-handler').click()
driver.find_element(By.ID, 'advertClose').click()


# Wait for 10 seconds
time.sleep(3)

# Initialize the DataFrame
data = pd.DataFrame(columns=['Season', 'LeaguePosition', 'Manager', 'TopGoalscorer'])

count = 1
while count <= 31:
    # Locate the elements using XPath
    season_element = driver.find_element(By.XPATH, '//*[@id="mainContent"]/div[2]/section[{}]/header/h2'.format(count))
    league_position_element = driver.find_element(By.XPATH, '//*[@id="mainContent"]/div[2]/section[{}]/div/div[1]/div/dl[1]/dd'.format(count))
    manager_element = driver.find_element(By.XPATH, '//*[@id="mainContent"]/div[2]/section[{}]/div/div[1]/div/dl[2]/dd/p'.format(count))
    top_goalscorer_element = driver.find_element(By.XPATH, '//*[@id="mainContent"]/div[2]/section[{}]/div/div[1]/div/dl[3]/dd/p'.format(count))
    
    # Extract the text from the elements
    season = season_element.text
    league_position = league_position_element.text
    manager = manager_element.text
    top_goalscorer = top_goalscorer_element.text
    
     # Create a temporary DataFrame for the current iteration
    temp_data = pd.DataFrame({'Season': [season], 'LeaguePosition': [league_position], 'Manager': [manager], 'TopGoalscorer': [top_goalscorer]})
    
    # Concatenate the temporary DataFrame with the main DataFrame
    data = pd.concat([data , temp_data], ignore_index=True)
    
    count += 1

print("Done")

C:\Users\thapelo maloka\AppData\Local\Temp\ipykernel_14832\3209495063.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install())

Done

In [68]:
#View the 1st 5 rows
data.head()

,Season,LeaguePosition,Manager,TopGoalscorer
0,2022/23,3rd,Erik ten Hag,Marcus Rashford (17)
1,2021/22,6th,Michael Carrick,Cristiano Ronaldo (18)
2,2020/21,2nd,Ole Gunnar Solskjær,Bruno Fernandes (18)
3,2019/20,3rd,Ole Gunnar Solskjær,Anthony Martial (17)
4,2018/19,6th,José Mário dos Santos Mourinho Félix,Paul Pogba (13)

In [69]:
# Assuming you want to strip the characters '[' and ']' from the 'column_name' column
data['LeaguePosition'] = data['LeaguePosition'].str.replace('rd', '').str.replace('th', '').str.replace('nd', '')
data['Manager'] = data['Manager'].str.replace("Félix", '').str.replace('Mário dos Santos', '')
data['Season'] = data['Season'].str.replace("Champions", '')

data[['TopGoalscorer', 'Score']] = data['TopGoalscorer'].str.extract(r'(.*)\((\d+)\)')

# Convert the 'Score' column to integers
data['Score'] = data['Score'].astype(int)
data['LeaguePosition'] = data['LeaguePosition'].str.extract('(\d+)').astype(int)

In [71]:
# View the bottom 5 rows
data.tail()

      Season  LeaguePosition        Manager          TopGoalscorer  Score
26  1996/97                1  Alex Ferguson  Ole Gunnar Solskjaer      18
27  1995/96                1  Alex Ferguson          Eric Cantona      14
28   1994/95               2  Alex Ferguson    Andrei Kanchelskis      14
29  1993/94                1  Alex Ferguson          Eric Cantona      18
30  1992/93                1  Alex Ferguson           Mark Hughes      15

In [74]:
#Save the csv file.
export_to_csv(data,'Data/History Man Utd.csv')

Saved.